// logo栏
.logo {
    margin-top: (10rem/ 32);
    margin-bottom: (10rem/ 32);
    margin-left: (20rem/ 32);
    img {
        width: (200rem/ 32);
        height: (58rem/ 32);
    }
}

// 顶部导航
nav {
    width: 100%;
    height: (46rem / 32);
    background-color: #3099dd;
    a {
        float: left;
        height: 100%;
        width: 20%;
        border-right: 1px solid #298ed0;
        color: white;
        line-height: (46rem/ 32);
        text-align: center;
    }
    a:nth-child(5) {
        border-right: none;
    }
    a:focus {
        background-color: rgb(82, 170, 227);
    }
}


// 最新动态
.news {
    width: 100%;
    overflow: hidden;
    > h4 {
        color: black;
        font-size: (20rem/ 32);
        text-align: center;
        margin: (8rem / 32);
    }
    > h5 {
        color: #dddddd;
        font-size: (12rem/ 32);
        font-family: "Arial Black";
        line-height: 1.75;
        text-align: center;
        margin: 0;
    }

    ul {
        padding: 0 (10rem/ 32);
        box-sizing: border-box;
    }
    li {
        padding: (10rem/ 32) 0;
        border-bottom: 1px solid #eeeeee;
    }
    li a {
        width: 100%;
        display: block;
        overflow: hidden;
    }
    img {
        float: left;
        width: (100rem/ 32);
        height: (80rem/ 32);
    }
    div {
        float: right;
        width: (188rem/ 32);
    }
    div > h5 {
        margin: 0;
        margin-bottom: (5rem/ 32);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #444444;
        font-size: (14rem/ 32);
        line-height: (20rem/ 32);
    }
    p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #999999;
        font-size: (12rem/ 32);
        line-height: (20rem/ 32);
        margin-bottom: 0;
    }
    s {
        display: block;
        line-height: (25rem/ 32);
        text-decoration: none;
        color: #bbbbbb;
        font-size: (12rem/ 32);
    }
}

.pre-next {
    width: 100%;
    padding: 0 (28rem/ 32);
    line-height: (34rem/ 32);
    margin-top: (10rem /32);
    text-align: center;
    overflow: hidden;
    a {
        float: left;
        width: 30%;
        height: (34rem/ 32);
        background-color: #EA594F;
        border-radius: (17rem/ 32);
        color: white;
        font-size: (14rem/ 32);
    }
    span {
        float: left;
        width: 40%;
        font-size: (14rem/ 32);
    }
}


// 底部
footer {
    margin-top: (30rem/ 32);
    background-color: rgb(153, 153, 153);
    padding: 0 (10rem/ 32);
    padding-bottom: (20rem/ 32);
    p {
        font-size: (12rem/ 32);
        color: white;
        line-height: 1.75;
        margin: 0;
    }
    p:nth-child(1) {
        font-size: (14rem/ 32);
        font-weight: bold;
        font-family: "SimHei";
    }
}


// 在线咨询
aside {
    position: fixed;
    right: (10rem/ 32);
    bottom: (10rem/ 32);
    a {
        display: block;
        border-top-left-radius: 100%;
        width: (90rem/ 32);
        height: (90rem/ 32);
        background-color: #00aef3;
        background-image: url(../img/module-bg-3-1.png);
        background-size: 70px;
        background-position: center (18rem/ 32);
        background-repeat: no-repeat;
    }
}